.body
  .topIcon{ id: "topScroll", onclick: "goTop()"}
    = t ".ページ先頭へ"

  .header

    .header_logo
      = link_to root_path, class:"btn-logo" do
        = image_tag "logo1.png", size: "80x100", alt: "logo"
    .header_language
      = link_to root_path(locale: "ja") do
        %p Japanese　/
      = link_to root_path(locale: "en") do
        %p 　English
        
    .header_user
      .header_user_about
        =  link_to "#anchor1" do
          %p
            = t ".サービス内容"
      -if user_signed_in?
        .header_user_signup
          = link_to kids_path, class:"btn" do
            %p 
              = t ".メイン画面"
        .header_user_login
          = link_to destroy_user_session_path, class:"btn" do
            %p 
              = t ".ログアウト"
      -else
        .header_user_signup
          = link_to new_user_registration_path, class:"btn" do
            %p 
              = t ".新規登録"
        .header_user_login
          = link_to new_user_session_path, class:"btn" do
            %p 
            = t ".ログイン"

      -# 管理者ページ
      -if current_user&.admin?
        .header_user_menu
          = link_to root_path, class:"btn" do
            %p 
              = t ".管理者ページ"

        
  .main
    .main_copyrights
    .main_pic
      = image_tag "top2.jpg", size: "850x700", alt:"top2"
    .main_about
      %h1 
        = t ".テクノロジーで"
      %h2
        = t ".子育てをもっともっと楽に！" 
  .service
    .service_left
      %h1 
        = t ".保育園での面倒な事務作業をパパッと解決！"
      %p 
        = t ".朝のバタバタで忙しい時間、仕事帰りのお迎え時間、疲れが残る夜に、少しでも育児を楽にして、親子の時間、また自分を過ごしたいものです。"
      %p 
        = t ".TecTechは育児・保育に関わる事務負担を減らし、保護者・保育者の方々にとって有意義な時間を過ごして頂きたい。"
      %p 
        = t ".そんな想いから生まれたサービスです。"
    %a{ :id =>  'anchor1' } 
    .service_right
      = image_tag "top3.jpg", size: "850x700", alt:"top2"

  .account
    .account_link
      = link_to new_user_registration_path, class:"btn" do
        %p 
          = t ".新規登録"
      = link_to new_user_session_path, class:"btn" do
        %p 
          = t ".ログインはこちらから！"

  .footer
    .footer_copyright
      %p © 2020 TecTech Inc. All rights reserved.