.wrapper_notices
  .side_bar
    .side_bar_notice
      = link_to kid_notices_path(@kid), class:"btn-information" do
        %i.far.fa-newspaper
        %p お知らせ

    .side_bar_diary
      = link_to kid_diaries_path(@kid), class:"btn-diary" do
        %i.fas.fa-pencil-alt    
        %p 日誌

    .side_bar_message1
      = link_to kid_messages_path(@kid), class:"btn-message" do
        %i.far.fa-comments
        %p メッセージ

    .side_bar_album
      = link_to kid_albums_path(@kid), class:"btn-picture" do
        %i.fas.fa-camera-retro
        %p 写真

    .side_bar_contact
      = link_to kid_contacts_path(@kid), class:"btn-contact" do
        %i.fas.fa-phone
        %p お問い合わせ

  .main
    .main_header
      .main_header_kid
        %h お子様のお名前
        -if @kid.sex == 0
          %p #{@kid.name}くん
        -else
          %p #{@kid.name}ちゃん
        %p #{@kid.group.name}組
      .main_header_user
        %h あなたのお名前
        %p #{current_user.name}
      .main_header_menu
        = link_to edit_user_path(current_user), class:"btn-edit" do
          %i.fas.fa-pen 
        = link_to kids_path, class:"btn" do
          %i.fas.fa-undo-alt

    .main_message
      .main_message_list
        - @messages.each do |message|
          .main_message_list_name
            = message.user.name
          .main_message_list_date
            = message.created_at.to_s(:created_at)
          .main_message_list_content
            - if message.content.present?
              = message.content
          = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

      .main_message_form
        .main_message_form_input
          = form_for [@kid, @message] do |f|
            = f.text_field :content, class: "main_message_form_content", placeholder: "メッセージを入力して下さい"
            .main_message_form_input_image
              = f.label :image, class: "main_message_form_form_image" do
                = icon("fas", "image", class: "icon")
                = f.file_field :image, class: "hidden"
            = f.submit "送信", class: "form__submit"