.side_bar
  .side_bar_notice
    %i.far.fa-newspaper
    %p 
      = t ".お知らせ"

  .side_bar_diary
    %i.fas.fa-pencil-alt
    %p 
      = t ".日誌"

  .side_bar_message
    %i.far.fa-comments
    %p 
      = t ".メッセージ"

  .side_bar_album
    %i.fas.fa-camera-retro
    %p 
      = t ".写真"

  .side_bar_contact
    %i.fas.fa-phone
    %p 
      = t ".お問い合わせ"