.admin__side__bar
  .admin__side__bar__logo
    = link_to admin_kids_path, class:"btn-logo" do
      = image_tag "logo1.png", size: "80x100", alt: "logo"

  .admin__side__bar__kid
    = link_to new_admin_kid_path do
      %i.fas.fa-pencil-alt
      %p 
        = t ".児童登録"

  .admin__side__bar__information
    = link_to admin_notices_path do
      %i.far.fa-newspaper
      %p 
        = t ".投稿"

  .admin__side__bar__message
    = link_to admin_messages_path do
      %i.far.fa-comments
      %p 
        = t ".メッセージ"

  .admin__side__bar__album
    = link_to admin_albums_path do
      %i.fas.fa-camera-retro
      %p 
        = t ".写真"
