.admin__side__bar
  .admin__side__bar__logo
    = link_to root_path, class:"btn-logo" do
      = image_tag "logo1.png", size: "80x100", alt: "logo"

  .admin__side__bar__kid
    %i.fas.fa-pencil-alt
    %p 
      = t ".児童登録"

  .admin__side__bar__information
    %i.far.fa-newspaper
    %p 
      = t ".投稿"

  .admin__side__bar__message
    %i.far.fa-comments
    %p 
      = t ".メッセージ"

  .admin__side__bar__album
    %i.fas.fa-camera-retro
    %p 
      = t ".写真"

