.wrapper_notices
  .side_bar
    .side_bar_notice
      = link_to kid_notices_path(@kid), class:"btn-information" do
        %i.far.fa-newspaper
        %p お知らせ

    .side_bar_diary1
      = link_to new_kid_diary_path(@kid), class:"btn-diary" do
        %i.fas.fa-pencil-alt    
        %p 日誌

    .side_bar_message
      = link_to root_path, class:"btn-message" do
        %i.far.fa-comments
        %p メッセージ

    .side_bar_picture
      = link_to root_path, class:"btn-picture" do
        %i.fas.fa-camera-retro
        %p 写真

    .side_bar_contact
      = link_to root_path, class:"btn-contact" do
        %i.fas.fa-phone
        %p お問い合わせ

  .main
    .main_header
      .main_header_kid
        %h お子様のお名前
        -if @kid.sex == 0
          %p #{@kid.name}くん
        -else
          %p #{@kid.name}ちゃん
        %p #{@kid.group.name}組
      .main_header_user
        %h あなたのお名前
        %p #{current_user.name}
      .main_header_menu
        = link_to edit_user_path(current_user), class:"btn-edit" do
          %i.fas.fa-pen 
        = link_to kids_path, class:"btn" do
          %i.fas.fa-undo-alt

    .main_diary
      .main_diary_today
        .main_diary_today_date
          %p= l(Date.current, format: :long)
        .main_diary_today_dinner
          .main_diary_today_dinner_content
            = form_for [@kid, @diary] do |f|
              = f.text_field :dinner_content, class: "diary_dinner_input", placeholder: "晩ごはんを入力"
          .main_diary_today_dinner_amount
          
        .main_diary_today_breakfast
          .main_diary_today_breakfast_content
            = form_for [@kid, @diary] do |f|
              = f.text_field :breakfast_content, class: "diary_breakfast_input", placeholder: "朝ごはんを入力"
          .main_diary_today_breakfast_amount

        .main_diary_today_excreta
          便
        .main_diary_today_sleep
          睡眠時間