.wrapper_notices
  .side_bar
    .side_bar_notice
      = link_to kid_notices_path(@kid), class:"btn-information" do
        %i.far.fa-newspaper
        %p 
          = t ".お知らせ"

    .side_bar_diary
      = link_to kid_diaries_path(@kid), class:"btn-diary" do
        %i.fas.fa-pencil-alt    
        %p 
          = t ".日誌"

    .side_bar_message
      = link_to kid_messages_path(@kid), class:"btn-message" do
        %i.far.fa-comments
        %p 
          = t ".メッセージ"

    .side_bar_album
      = link_to kid_albums_path(@kid), class:"btn-picture" do
        %i.fas.fa-camera-retro
        %p 
          = t ".写真"

    .side_bar_contact
      = link_to kid_contacts_path(@kid), class:"btn-contact" do
        %i.fas.fa-phone
        %p 
          = t ".お問い合わせ"

  .main
    .main_header
      .main_header_kid
        %h 
          = t ".お子様のお名前"
        -if @kid.sex == 0
          %p #{@kid.name}くん
        -else
          %p #{@kid.name}ちゃん
        %p #{@kid.group.name}組
      .main_header_user
        %h 
          = t ".あなたのお名前"
        %p #{current_user.name}
      .main_header_menu
        = link_to edit_user_path(current_user), class:"btn-edit" do
          %i.fas.fa-pen 
        = link_to kids_path, class:"btn" do
          %i.fas.fa-undo-alt

    .main_contacts
      .main_contact
        = t ".ご不明点や緊急のご連絡の際には、下記へお問い合わせ下さい。"
        .main_contact_school
          = t ".保育所名：てくてっく保育園"
        .main_contact_address
          = t ".住所：〒196-0033 東京都立川市栄町5-54-26"
        .main_contact_telephone
          = t ".電話番号：042(543)0816"
        .main_contact_person
          = t ".連絡担当者：鈴木賢（すずきまさる）"

    .main_contact_gmap
      %h2 
        = t ".地図"
      %input#address{:type => "textbox", :value => "Tokyo, JPN"}/
      %input{:onclick => "codeAddress()", :type => "button", :value => "Encode"}/
      #map
      :css
        #map{
          height: 300px;
          width: 100%;
        }
      :javascript
        var map;
        var marker;
        var geocoder;
        var infoWindow;
        var center = {
          lat: 35.6979,
          lng: 139.4137,
          icon: "favicon5.ico"
        };
        
        function initMap(){
          geocoder = new google.maps.Geocoder()
          geocoder.geocode({
          'address': '東京都立川市曙町2丁目'
          }, function(results, status) {
            var map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat:35.6979, lng:139.4137},
                      zoom: 18
            });

            var marker = new google.maps.Marker({
              position: center,
              map: map,
            });

            var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
              content: 'てくてっく保育園/ TecTech Nursery School' // 吹き出しに表示する内容
            });
            marker.addListener('click', function() { // マーカーをクリックしたとき
              infoWindow.open(map, marker); // 吹き出しの表示
            });
          });


        }
        
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
        
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
        
              map.setCenter(results[0].geometry.location);
        
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
      %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDvzcB-HMzMfiTRtqHp-huzMPCuBZZUUXw&callback=initMap"}

