.wrapper_notices
  .side_bar
    .side_bar_notice
      = link_to kid_notices_path(@kid), class:"btn-information" do
        %i.far.fa-newspaper
        %p 
          = t ".お知らせ"

    .side_bar_diary
      = link_to kid_diaries_path(@kid), class:"btn-diary" do
        %i.fas.fa-pencil-alt    
        %p 
          = t ".日誌"

    .side_bar_message
      = link_to kid_messages_path(@kid), class:"btn-message" do
        %i.far.fa-comments
        %p 
          = t ".メッセージ"

    .side_bar_album
      = link_to kid_albums_path(@kid), class:"btn-picture" do
        %i.fas.fa-camera-retro
        %p 
          = t ".写真"

    .side_bar_contact
      = link_to kid_contacts_path(@kid), class:"btn-contact" do
        %i.fas.fa-phone
        %p 
          = t ".お問い合わせ"

  .main
    .main_header
      .main_header_kid
        %h 
          = t ".お子様のお名前"
        -if @kid.sex == 0
          %p #{@kid.name}くん
        -else
          %p #{@kid.name}ちゃん
        %p #{@kid.group.name}組
      .main_header_user
        %h 
          = t ".あなたのお名前"
        %p #{current_user.name}
      .main_header_menu
        = link_to edit_user_path(current_user), class:"btn-edit" do
          %i.fas.fa-pen 
        = link_to kids_path, class:"btn" do
          %i.fas.fa-undo-alt

    .main_contacts
      .main_contact
        = t ".ご不明点や緊急のご連絡の際には、下記へお問い合わせ下さい。"
        .main_contact_school
          = t ".保育所名：立川栄保育園"
        .main_contact_address
          = t ".住所：〒196-0033 東京都立川市栄町5-54-26"
        .main_contact_telephone
          = t ".電話番号：042(543)0816"
        .main_contact_person
          = t ".連絡担当者：鈴木賢（すずきまさる）"