#account_page_kids
  .account_page_kids__innner.clearfix
    .account_page_kids__innner__left.account_page__header
      %h2 Create New Kids
      %h5 新規児童情報の作成
      -# = render "devise/shared/links"
    .account_page_kids__innner__right.user_form
      = form_for [@admin, @kid] do |f|
        -# = devise_error_messages!
        .field
          .filed_label
            = f.label :name, local: true do
              = f.text_field :name, placeholder: '児童名を入力してください'
        .field
          .filed_sex
            %p 性別
            = form.label :sex, "男性", {value: 0} do
            = form.radio_button :sex, :man
            = form.label :sex, "女性", {value: 1} do
            = form.radio_button :sex, :woman

        .field
          %p クラス
          %label
            = f.radio_button :group_id, "1"
            たんぽぽ
          %label
            = f.radio_button :group_id, "2"
            ちゅーりっぷ
          %label
            = f.radio_button :group_id, "3"
            あじさい
          %label
            = f.radio_button :group_id, "4"
            ひまわり
          %label
            = f.radio_button :group_id, "5"
            さくら
        .field
          .filed_label
            = f.label :image do
              = icon("fas", "image", class: "icon")
              = f.file_field :image, class: "hidden"
        .actions
          = f.submit "Create Kid's Account", class: 'btn'