.admin__body
  = render "admin.side.bar"
  .admin__main
    .admin__main__header
      .admin__main__header__name
        %p 
          = t ".ユーザー管理者ページ"
      .admin__main__header__user
        %h 
          = t ".あなたのお名前"
        %p #{current_user.name}さん
      .admin__main__header__menu
        = link_to edit_user_path(id: current_user.id), class:"btn-edit" do
          %i.fas.fa-pen 
        = link_to destroy_user_session_path, class:"btn" do
          %i.fas.fa-sign-out-alt
    .admin__main__kids
      .admin__main__kids__title
        = t ".児童一覧"
    
      - @groups.each do |group|
        .admin__main__kids__box
          .admin__main__kids__box__class
            = group.name
          - group.kids.each do |kid|
            .admin__main__kids__box__index
              .admin__main__kids__box__index__image
                = image_tag kid.image.url, size: "80x80"
              .admin__main__kids__box__index__name
                = kid.name
              .admin__main__kids__box__index__sex
                = kid.sex
              .admin__main__kids__box__index__user
                = kid.users.name
              = link_to root_path do
                .admin__main__kids__box__index__edit
                  %p 編集
              = link_to root_path do
                .admin__main__kids__box__index__delete
                  %p 削除
