.admin__body
  = render "admin.side.bar"
  .admin__main
    .admin__main__header
      .admin__main__header__name
        %p 
          = t ".ユーザー管理者ページ"
      .admin__main__header__user
        %h 
          = t ".あなたのお名前"
        %p #{current_user.name}さん
      .admin__main__header__menu
        = link_to edit_user_path(current_user), class:"btn-edit" do
          %i.fas.fa-pen 
        = link_to destroy_user_session_path, class:"btn" do
          %i.fas.fa-sign-out-alt
    .admin__main__kids

      .admin__main__kids__registration
        .admin__main__kids__registraion__title
          %p 児童の新規登録
        .admin__main__kids__registration__form
          = form_for [@kid] do |f|
            .admin__main__kids__registration__form__name
              .field
                .field-label
                  = "児童の名前"
                .field-input
                  = f.text_field :name, autofocus: true, placeholder: "入力して下さい"
            .admin__main__kids__registration__form__sex
              .field
                .field-label
                  = "児童の性別"
                = f.label :sex, for:"kid_sex", class: "kid_sex_select" do
                  .field-input
                    = f.select :sex, ["男の子", "女の子"], id:"kid_sex", prompt:true 
            .admin__main__kids__registration__form__group
              .field
                .field-label
                  = "クラス"
                = f.label :group_id, for:"kid_group", class: "kid_group_select" do
                  .field-input
                    = f.collection_select :group_id, Group.all, :id, :name, prompt:true 
            .admin__main__kids__registration__form__user
              .field
                .field-label
                  = "利用者のお名前"
                = f.collection_check_boxes :user_ids, User.all, :id, :name, prompt:true do |ff|
                  = ff.label {ff.check_box + ff.text}
                  .field-input
            .admin__main__kids__registration__form__image
              .field
                .field-label
                  = "画像"
                = f.label :image, for:"present_img", class:"kid_image_select" do 
                  .field-input
                    = f.file_field :image, class: "hidden"
                  .field-img_prev

                  -# - if @kid.image.present?
                  -#   = image_tag @kid.img.url, id: :img_prev, class: "present_img"
                  -#   %label
                  -#     = f.check_box :remove_image
                  -#     画像を削除
                  -# - else
                  -#   = image_tag "back2.jpg", id: :img_prev, class: "present_image"
                  -#   :javascript
                  -#     $(function() {
                  -#     function readURL(input) {
                  -#       if (input.files && input.files[0]) {
                  -#         var reader = new FileReader();
                  -#         reader.onload = function (e) {
                  -#           $('#img_prev').attr('src', e.target.result);
                  -#         }
                  -#         reader.readAsDataURL(input.files[0]);
                  -#       }
                  -#     }
                  -#       $("#kid_img").change(function(){
                  -#         $('#img_prev').removeClass('hidden');
                  -#         $('.present_img').remove();
                  -#         readURL(this);
                  -#       });
                  -#     });

                      
            .actions
              = f.submit "新規登録", class: 'btn'