.admin__body
  = render "/admin/admin.side.bar"
  .admin__main
    .admin__main__header
      .admin__main__header__name
        %p 
          = t ".ユーザー管理者ページ"
      .admin__main__header__user
        %h 
          = t ".あなたのお名前"
        %p #{current_user.name}さん
      .admin__main__header__menu
        = link_to edit_user_path(id: current_user.id), class:"btn-edit" do
          %i.fas.fa-pen 
        = link_to destroy_user_session_path, class:"btn" do
          %i.fas.fa-sign-out-alt
    .admin__main__notice
      = form_for [@notice], url:admin_notices_path, method: :get do |f|
        .admin__main__notice__title
          新規お知らせ投稿
        .admin__main__notice__form
          .admin__main__notice__form__class
            = f.collection_check_boxes :group_ids, Group.all, :id, :name, prompt:true do |ff|
              = ff.label {ff.check_box + ff.text}
          .admin__main__notice__form__title
            件名：
            = f.text_field :title, placeholder: "入力して下さい"
          .admin__main__notice__form__content
            %p お知らせ内容
            = f.text_area :content, placeholder: "入力して下さい"
          .admin__main__notice__form__image
            = f.label :image, class:"notice_image" do
              .field-input
                = f.file_field :image, class: "hidden"
          .admin__main__notice__form__btn
            = f.submit "新規投稿", class: 'notice_btn'
